<div>
    <!-- <form> -->
        <input type="text" [(ngModel)]="filter" name="filter" id="filter"/>
        <button (click)="getAuthor()">search</button>
        <button (click)="showAddItemModal()">create</button>

    <!-- </form> -->
   
    <table>
        <thead>
            <th>id</th>
            <th>name</th>
            <th>biography</th>
            <th></th>
        </thead>
        <tbody *ngFor="let author of authors">
            <td>{{author.id}}</td>
            <td>{{author.name}}</td>
            <td>{{author.biography}}</td>
            <td><button (click)="showEditItemModal(author)">Update</button></td>
            <td><button (click)="delete(author)">Delete</button></td>
        </tbody>
    </table>
</div>